/*Обнуляющиек стили*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.active_tab {
    color: #0A2B49;
    background: #d1e1f7!important;
    text-decoration: none!important;
    border-radius: 20px!important;

}

.service_item {
    cursor: pointer;
    max-width: 445px;
    color: #0A2B49;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    padding: 20px;
}

.service_item__label {
    display: flex;
    flex-direction: column;
}

.service_item:hover {
    text-decoration: underline;
}

.service_item__wrap {
    display: flex;

}

.service_title {
    font-family: Perun;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #0A2B49;
}

.service_nav_title {
    color: #0A2B49;
    font-family: Perun;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service_wrap {
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    background: #FFF;
    max-width: 445px;
    flex-grow: 1;
    width: 100%;
}

.service_wrap_second {
    flex-grow: 1;
    background: #E7F0FF;
}
